@use '../../styles/variables';
@use '../../styles/mixins';

.portal {
    @include mixins.position(fixed, auto);
    margin-bottom: map-get(variables.$unit, element);
    margin-right: map-get(variables.$unit, element);
    background-color: var(--color--background);
    box-shadow: var(--shadow);
    border-radius: 999px;
    left: auto;
    top: auto;

    @media print {
        display: none;
    }
}

.button {
    @include mixins.transition(background-color color);
    background-color: var(--color--background);
    padding: map-get(variables.$unit, break);
    justify-content: center;
    border-radius: 999px;
    align-items: center;
    cursor: pointer;
    outline: none;
    display: flex;
    border: none;

    &:hover, &:focus {
        background-color: var(--color--primary-high);
        color: var(--color--primary);
    }

    &:active {
        background-color: var(--color--primary-high-active);
        color: var(--color--primary-hover);
    }
}

.icon {
    height: map-get(variables.$text, larger);
    width: map-get(variables.$text, larger);
}