$_font-config: (
  Avenir: (
    fallback: sans-serif,
    sources: (
      (
        style: normal,
        weight: normal,
        source: (
          woff2: url('/fonts/Avenir-Light.woff2'),
          woff: url('/fonts/Avenir-Light.woff'),
          truetype: url('/fonts/Avenir-Light.ttf'),
        ),
      ),
      (
        style: normal,
        weight: bold,
        source: (
          woff2: url('/fonts/Avenir-Medium.woff2'),
          woff: url('/fonts/Avenir-Medium.woff'),
          truetype: url('/fonts/Avenir-Medium.ttf'),
        ),
      ),
    ),
  ),
);

@function _load($sources) {
  $res: '';
  @each $type, $url in map-get($sources, source) {
    $res: #{$res} #{if($res == '', '', ',')}$url format('#{$type}');
  }
  @return $res;
}

@mixin load {
  @each $tag, $config in $_font-config {
    @each $source in map-get($config, sources) {
      @font-face {
        font-weight: map-get($source, weight);
        font-style: map-get($source, style);
        font-family: '#{$tag}';
        src: _load($source);
        font-display: swap;
      }
    }
  }
}

@function getFont($name) {
  $config: map-get($_font-config, $name);
  @return "#{$name}", #{map-get($config, fallback)};
}
