@use './variables';

// Add tranisitions to attributes because im lazy
@mixin transition($attrs, $speed: normal) {
  $res: '';

  // Multiple attributes
  @if type-of($attrs) == list {
    @each $attr in $attrs {
      $res: #{$res}, _makeTransition($attr, $speed);
    }

    // Single/no attribute
  } @else {
    $res: _makeTransition($attrs, $speed);
  }

  transition: $res;
}

// Builds a transition with given props
@function _makeTransition($attr, $speed) {
  // Default (Please never do this)
  $res: all map-get(variables.$speed, $speed) variables.$ease;

  // Attribute with default props
  @if type-of($attr) == string {
    $res: $attr map-get(variables.$speed, $speed) variables.$ease;

    // Attribute with custom props
  } @else if type-of($attr) == map {
    $speed: if(map-has-key($attr, speed), map-get($attr, speed), $speed);
    $res: map-get($attr, name) map-get(variables.$speed, $speed) variables.$ease;
  }

  @return $res;
}

@mixin position(
  $position: absolute,
  $margin: auto,
  $top: 0,
  $right: $top,
  $bottom: $top,
  $left: $right
) {
  position: $position;
  margin: $margin;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin media($size) {
  @media only screen and (max-width: map-get(variables.$media, $size)) {
    @content;
  }
}

@mixin beforeAnimate {
  :global(.hide) & {
    @content;
  }
}
