@use '../../styles/variables';
@use '../../styles/mixins';
@use '../../styles/index';

.container {
    @include mixins.transition(background-color);
    background-color: var(--color--background-hover);
    min-height: map-get(variables.$page, height);
    min-width: map-get(variables.$page, width);
    padding: map-get(variables.$unit, section);
    justify-content: center;
    align-items: center;
    display: flex;

    @media print {
        padding: 0;
    }
}

.body {
    @include mixins.transition(background-color);
    padding: map-get(variables.$unit, section);
    background-color: var(--color--background);
    height: map-get(variables.$page, height);
    width: map-get(variables.$page, width);
    box-shadow: var(--shadow);
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
}

.side {
    display: inline-block;
    width: 40%;
    b {
        display: block;
    }
}

.item {
    padding-bottom: map-get(variables.$unit, component);
}

.content {
    padding-left: map-get(variables.$unit, container);
    padding-top: map-get(variables.$unit, break);
    box-sizing: border-box;
    display: inline-block;
    width: 60%;
}