@use '../../styles/variables';

.header {
  display: flex;
}

.dates,
.title,
.subtitle {
  margin: 0;
}

.title {
  font-size: map-get(variables.$text, normal) !important;
  padding-right: map-get(variables.$unit, container);
  margin-right: auto;
}

.dates {
  margin: map-get(variables.$unit, tad) / 2 0 map-get(variables.$unit, tad);
  font-size: map-get(variables.$text, small);
  font-weight: bold;
  text-align: end;
  flex-shrink: 0;
}

.subtitle {
  margin-top: map-get(variables.$unit, tad) * -1;
  margin-bottom: map-get(variables.$unit, tad);
  font-size: map-get(variables.$text, smaller);
  color: var(--color--heading);
  font-weight: bold;
}

.md {
  ul {
    font-size: map-get(variables.$text, smaller);
    margin-bottom: map-get(variables.$unit, element);
  }
}
